@font-face {
  font-family: "Organic-Brand";
  src: url("../fonts/Organic-Brand.ttf");
}

:root {
  --blue-primary: #3b6df4;
  --blue-primary-light: #74bdfd;
  --blue-primary-dark: #033ac4;
  --black: #000;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Organic-Brand";
  font-weight: 100;
}
body {
  background-color: var(--blue-primary-dark);
}
.wrapper_hero,
.buy,
.socials,
.logo,
.section_about,
.block_separator_2,
.section_tokenomics,
.checker,
.board_details,
.block_ca, .section_join, .socials_footer {
  background-color: var(--blue-primary-dark);
}

.separator_hero,
.floor,
.block_board,.tokenomics_separator,.footer_buttons {
  background-color: var(--blue-primary-light);
}

.block_separator_1,
.floor_shadow,
.block_board_in,
.ca,
.about_window {
  background-color: var(--blue-primary);
}

.wrapper_hero .image {
  bottom: -110px;
  height: 100%;
  margin: 0;
}

.block_floor .floor {
  height: 20px;
}

.block_about,
.section_hero {
  background-size: cover;
  background-repeat: no-repeat;
}

.main-logo {
  display: flex;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 10px;
  border: 2px solid var(--white);
  color: var(--black);
  padding: 5px;
  padding-right: 10px;
  font-size: 18px;
}

.main-logo:hover {
  background-color: var(--blue-primary-light);
}

.main-logo img {
  max-width: 50px;
}

.about_para .para {
  text-transform: uppercase;
}

.checker {
  border: 0;
}

.section_about {
  height: auto;
}

.meet_sheba .block_about {
  padding: 0 100px 0 0;
}

.h1{
    text-align: center;
}

.w-button{
    letter-spacing: 1px;
}
.socials_footer{
  margin: 10px;
}
.sheba_copyright, .email{
  color: var(--blue-primary-light);
}

.section_join .img-container-1{
  margin-bottom: 30px;
  max-width: 300px;
}

.section_join .img-container-2{
  max-width: 50%;
}
.section_join .img-container-2 img{
  max-height: 165px;
}
.footer_buttons{
 margin: 0;
 flex-flow: column;
}
.section_tokenomics,.section_join{
  padding-bottom: 20px;
}
.last-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.rotateImage-container {
  perspective: 1000px; /* Add perspective to give a 3D effect */
}

.rotateImage-container img {
  animation: rotateImage 3s infinite linear; /* Adjust timing as needed */
  transform-style: preserve-3d; /* Ensures the image rotates in 3D space */
}

.by-animated-background {
    background: linear-gradient(90deg, #f1c40f 0%, #f1c40f 50%, #3498db 50%, #3498db 100%);
    background-size: 200% 100%;
    animation: backgroundAnimation 10s linear infinite; /* Changed animation timing function to linear and added infinite */
}

@keyframes backgroundAnimation {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

@keyframes rotateImage {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media screen and (max-width: 990px) {
  .meet_sheba .block_about {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper_hero .image {
    bottom: -74px;
  }
  .wrapper_hero .image {
    height: 80%;
  }
  .header {
    flex-direction: column;
    gap: 9px;
  }
  .about_chara {
    justify-content: center;
  }
  .block_about {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .last-section{
    flex-direction: column;
    gap: 30px;
  }
  .menu_right{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu_right a{
    width: 50%;
    margin-bottom: 10px;
  }
  .w-button{
    margin: 0;
  }
  .footer_buttons .w-button{
    margin: 10px;
  }
  .menu_right a.buy{
    width: 100%;
  }
  .section_about {
    height: auto;
  }
  img {
    overflow: hidden;
  }
  .block_board {
    width: auto;
  }
  .section_join{
    padding-bottom: 30px;
  }
}
